<include target="header.html" cond="!$form_include" />

<form action="./" method="get" onsubmit="return procFilter(this, input_password)" class="secretMessage boardWrite">
	<fieldset>
		<input type="hidden" name="mid" value="{$mid}" />
		<input type="hidden" name="page" value="{$page}" />
		<input type="hidden" name="document_srl" value="{$document_srl}" />
		<input type="hidden" name="comment_srl" value="{$comment_srl}" />
		<p>{$lang->msg_input_password}</p>
		<p>
			<input type="password" name="password" id="cpw" class="inputText" placeholder="{$lang->password}" required />
			<button type="submit" accesskey="s" class="{$btn} {$btn_size} {$btn_submit}">{$lang->cmd_input}</button>
		</p>
	</fieldset>
</form>
<include target="footer.html" cond="!$form_include" />